:root {
    --pixel-conversion: 1;
}


body {
    margin: 0;
    padding: 0;
    background-color: rgb(61, 61, 61);
    display: flex;
    justify-content: center;
}


#root {
    position: relative;
}

#ui {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: calc(1800px * var(--pixel-conversion));
}


#selectbox {
    display: flex;
    flex-direction: row;
}

.select {
    width: 100%;
}