:root {
    --pixel-conversion: 1;
}

body::after {
    position: absolute;
    z-index: -1;
    overflow: hidden;
    height: 0;
    width: 0;
    content: url('./images/time-out-sil.png')
    url('./images/time-out-kasper.png')
    url('./images/time-out-ginus.png')
    url('./images/time-out-juno.png')
    url('./images/time-out-chris.png')
    url('./placeholders/Placeholder.png');
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(61, 61, 61);
    /*display: flex;*/
    /*justify-content: center;*/
}


#root {
    position: relative;
}

#ui {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-content: center;
    position: absolute;
    margin-left: calc(270px * var(--pixel-conversion));
    margin-top: calc(100px * var(--pixel-conversion));
    width: calc(900px * var(--pixel-conversion));
}

#playerInfo,
#bossInfo {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    width: calc(300px * var(--pixel-conversion));
    height: calc(150px * var(--pixel-conversion));
    flex-direction: column-reverse;
    /* border: solid silver calc(2px * var(--pixel-conversion)); */
}

#playerHealthContainer,
#bossHealthContainer {
    display: flex;
    width: calc(240px * var(--pixel-conversion));
    height: calc(30px * var(--pixel-conversion));
    background-color: black;
    border: solid silver calc(2px * var(--pixel-conversion));
    border-radius: 5rem;
}

#bossHealthContainer {
    margin-left: 2.5rem;
    margin-top: 3.2rem;
}

#playerHealthBar,
#bossHealthBar {
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 5rem;
}

#playerHealthBar {
    align-content: flex-start;
}

#bossHealthBar {
    align-content: flex-end;
}

#playerStaminaContainer {
    border-radius: 5rem;
    margin-top: -5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rebeccapurple;
    border: solid silver calc(2px * var(--pixel-conversion));
    height: calc(50px * var(--pixel-conversion));
    width: calc(50px * var(--pixel-conversion));

}

#playerStaminaText {
    color: white;
    margin-top: 0.45rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#specialMeterContainer {
    border-radius: 5rem;
    margin-left: 2.5rem;
    display: flex;
    justify-content: space-evenly;
    align-content: center;

    height: calc(50px * var(--pixel-conversion));
    width: 75%;

    div {
        border-radius: 5rem;
        border: solid silver calc(2px * var(--pixel-conversion));
        width: calc(25px * var(--pixel-conversion));
        height: calc(25px * var(--pixel-conversion));
    }

}

#specialMeter1,
#specialMeter2,
#specialMeter3 {
    margin-top: 0.5rem;
    margin-left: 1rem;
}

#clockContainer {
    /* background-color: white;
    border: solid silver calc(2px * var(--pixel-conversion)); */
    margin-left: -6rem;
    width: calc(75px * var(--pixel-conversion));
    height: calc(75px * var(--pixel-conversion));
    align-content: center;
    display: flex;
    justify-content: space-around;
    text-align: center;


    h2 {
        color: white;
        font-size: 5rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        padding: 0;
        margin: 0;
        height: 25%;
        -webkit-text-stroke: 2px black;
    }

}

.empty {
    background-color: black;
}

.filled {
    background-color: gold;
}


#selectbox {
    display: flex;
    flex-direction: row;
}

.select {
    width: 100%;
}